<div class="w3-bar w3-black w3-padding-large w3-large w3-animate-opacity">

  <div>
  	<img src="img/AVI-logo.svg" class="w3-bar-item w3-padding-16 w3-round w3-light-grey"
  	alt="Logo" style="width:100%;max-width:100px">
  </div>

  <div>
  	<img src="img/favicon.ico" class="w3-bar-item w3-right w3-circle w3-spin" alt="Logo" style="width:100%;max-width:70px">
  </div>
  <div href="#" class="w3-bar-item w3-round-xxlarge we-button w3-padding-16 w3-right w3-hover-red">  <b>Home     </b></div>
  <div href="#" class="w3-bar-item w3-round-xxlarge we-button w3-padding-16 w3-right w3-hover-yellow"> <b>Lernen    </b></div>
  <div href="#" class="w3-bar-item w3-round-xxlarge we-button w3-padding-16 w3-right w3-hover-green"><b>Samples  </b></div>
  <div href="#" class="w3-bar-item w3-round-xxlarge we-button w3-padding-16 w3-right w3-hover-blue"> <b>Projekte </b></div>
</div>
