<div class="w3-row-padding w3-center w3-margin">

  <div class="w3-third">
    <div class="w3-card-4 w3-round-xxlarge w3-section w3-animate-left">
      <header class="w3-container w3-blue">
        <h1>Kopfzeile eins</h1>
      </header>
      <div class="w3-container">
      <p>Bangalore Zum Anhören bitte klicken! oder Bengaluru (offizieller Name seit 2014; Beṅgaḷūru Zum Anhören bitte klicken!  ist die Hauptstadt des indischen Bundesstaates Karnataka im Südwesten des Subkontinents.</p>

<p>Mit über 8,4 Millionen Einwohnern (Volkszählung 2011) ist sie nach Mumbai und Delhi die drittgrößte Stadt Indiens.
Bangalore ist auch Verwaltungssitz der Distrikte Bengaluru Urban und Bengaluru Rural.</p>

<p>Bangalore ist ein Zentrum der zivilen und militärischen Luft- und Raumfahrtindustrie und -forschung Indiens. In jüngerer Zeit hat es sich zudem zu einem der
wichtigsten IT-Zentren des Landes entwickelt. Wegen der zahlreichen Parkanlagen wird von Bangalore auch oft als der „Gartenstadt“ gesprochen.</p>
      </div>
      <footer class="w3-container">
        <h5>Quelle Wikipedia
</h5>
      </footer>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-4 w3-round-xxlarge w3-section w3-animate-top">
      <header class="w3-container w3-red">
        <h1>Überschrift zwei</h1>
      </header>
      <div class="w3-container">
      <p>Bangalore wurde wahrscheinlich 1537 von Kempe Gowda I (1510 bis 1570) gegründet. Kempe Gowda soll für diese neue Stadt den Namen Bengaluru gewählt haben,
      da seine Mutter und seine Ehefrau aus einer Ansiedlung dieses Namens stammen, die heute noch als Halebengaluru (Alt-Bangalore) nahe Bangalore existiert.</p>

<p>Nach einer anderen Version hat eine alte Frau im 10. Jahrhundert König Veeraballa gekochte Bohnen zu Essen gegeben, als er sich im Wald verirrt hatte.
Aus Dankbarkeit nannte er den Ort danach Benda Kaluru, die „Stadt der gekochten Bohnen“.</p>

<p>Die Briten unter Charles Cornwallis eroberten die Stadt 1799 in einer Schlacht mit Tipu Sultan und anglizierten den Namen zu „Bangalore“.</p>
      </div>
      <footer class="w3-container">
        <h5>Quelle Wikipedia
</h5>
      </footer>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-4 w3-round-xxlarge w3-section w3-animate-right">
      <header class="w3-container w3-green">
        <h1>Geschichte</h1>
      </header>
      <div class="w3-container">
      <p>Im Jahr 1898 wurde Bangalore von einer Pestepidemie heimgesucht, die eine große Zahl von Opfern forderte. Als Konsequenz daraus wurden Abwasser-
      und Gesundheitswesen modernisiert, und Vorschriften für Sanitäranlagen beim Bau neuer Häuser erlassen. 1900 wurde das Victoria Hospital eröffnet.</p>

<p>Nach 1900 dehnte sich Bangalore schnell aus. Bis 1950 entstanden die Stadtteile Basavanagudi, Malleshwaram, Kalasipalyam, Gandhinagar und Jayanagar.</p>

<p>Bis 1949 war Bangalore eine wichtige Garnisonsstadt der Briten, wovon noch heute Straßennamen wie Brigade Road oder Residency Road zeugen. Bei der Volkszählung 2011 wurden in Bangalore 8.425.970 Einwohner registriert</p>

      </div>
      <footer class="w3-container">
        <h5>Quelle Wikipedia
</h5>
      </footer>
    </div>
  </div>
</div>
